<article class="card article">
	<img src="{{ asset('img/article/daveslesdevs.png') }}" class="card-img-top" alt="">
	<div class="card-body article-body">
		<div>
			<p class="article-date">Publié le : {{ article.createdAt|date("d/m/Y") }}</p>
			<ul class="taglist">
				{% for tag in article.tags %}
					<li class="tag">{{ tag.name }}</li>
				{% endfor %}
			</ul>
			<a href="{{ path('app_article', {id: article.id}) }}"><h3>{{ article.title }}</h3></a>
			<p class="article-description">{{ article.introduction }}</p>
		</div>
		<div class="article-reaction-container">
			<span>
				<i class="bi bi-hand-thumbs-up"></i>
				<p>{{ article.likes }}</p>
			</span>
			<span>
				<i class="bi bi-chat-left-text"></i>
				<p>{{ article.comments|length }}</p>
			</span>
		</div>
	</div>
</article>

