{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/regilog_form.css') }}">
{% endblock %}

{% block body %}
<form method="post" id="regilog-form">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Logged in as : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Log out</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2 mb-4" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control mt-2 mb-4" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary form-confirm" type="submit">
        Sign in
    </button>
</form>
<p id="regilog">No account yet ? <a href="{{ path('app_register') }}">Register</a></p>
{% endblock %}
