{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/regilog_form.css') }}">
{% endblock %}

{% block body %}
	{{ form_errors(registrationForm) }}
	{{ form_start(registrationForm, {
            'attr': {'id': 'regilog-form'}
        }) }}
	<h1 class="h3 mb-3 font-weight-normal">Register</h1>
	{{ form_row(registrationForm.email, {
            'attr': {'class': 'form-control mt-2 mb-4'},
            label: 'Email'
        }) }}
	{{ form_row(registrationForm.nickname, {
            'attr': {'class': 'form-control mt-2 mb-4'},
            label: 'Username'
        }) }}
	{{ form_row(registrationForm.plainPassword, {
            'attr': {'class': 'form-control mt-2 mb-4'},
            label: 'Password'
        }) }}

	<button type="submit" class="btn btn-lg btn-primary form-confirm">Confirm</button>
	{{ form_end(registrationForm) }}
    <p id="regilog">Already have an account ? <a href="{{ path('app_login') }}">Sign in</a></p>
{% endblock %}
