{% extends 'base.html.twig' %}

{% block title %}Menu admin
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
	<ul class="nav flex-column" id="admin-menu">
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_new_article') }}">Créer un article</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_admin_articles') }}">Articles</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_tag_index') }}">Tags</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_comment_index') }}">Commentaires</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_user_index') }}">Utilisateurs</a>
		</li>
	</ul>
{% endblock %}
