{% extends 'base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}
{% block stylesheets %}
	{# <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"> #}
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
{% block javascripts %}
	<script defer src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	{# <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script> #}
	<script defer src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
	{# <script defer src="{{ asset('js/myDatatables.js') }}"></script> #}
{% endblock %}

{% block body %}
	<table data-toggle="table" data-pagination="true" data-search="true">
		<thead>
			<tr>
				<th>Pseudo</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Date d'inscription</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.nickname }}</td>
					<td>{{ user.email }}</td>
					<td>
                        {% for role in user.roles %}
                            {{role}}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
