{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/single_article.css') }}">
{% endblock %}

{% block body %}
	<main>
		<article id="this-article-container">
			<h1>{{ article.title }}</h1>
			<p class="introduction">{{ article.introduction|raw }}</p>
			<ul class="taglist">
				{% for tag in article.tags %}
					<li class="tag">{{ tag.name }}</li>
				{% endfor %}
			</ul>
			<div id="date-reaction-container">
				<p class="article-date">Publié le :
					{{ article.createdAt|date("d/m/Y") }}</p>
				<div class="article-reaction-container">
					<span>
						<i class="bi bi-hand-thumbs-up"></i>
						<p>{{ article.likes|length }}</p>
					</span>
					<span>
						<i class="bi bi-chat-left-text"></i>
						<p>{{ article.comments|length }}</p>
					</span>
				</div>
			</div>
			<img src="{{ asset('img/article/' ~ article.image) }}" alt="" class="article-img">
			<p>{{ article.content|raw }}</p>
		</article>

		<section id="other-articles">
			<h2>Autres articles</h2>
			<div id="article-container">
				{% for article in other_articles %}
					{% include "_partials/_article.html.twig" %}
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
