{% extends 'base.html.twig' %}

{% block title %}New utilisateur
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
	<section class="mb-3">
		<a href="{{ path('app_user_index') }}" id="admin_menu_link">
			<i class="bi bi-caret-left-fill"></i>
			Back to user list</a>
		<h1>Create a user</h1>

		{# {{ include('user/_form.html.twig') }} #}

		{{ form_start(form) }}
		{{ form_row(form.nickname, {
            'attr': {'class': 'form-control mt-2 mb-4'},
            label: 'Nickname'
        }) }}
		{{ form_row(form.email, {
            'attr': {'class': 'form-control mt-2 mb-4'},
            label: 'Email'
        }) }}
		{{ form_row(form.password, {
            'attr': {'class': 'form-control mt-2 mb-4'},
            label: 'MPassword'
        }) }}
		{{ form_row(form.roles, {
            'attr': {'class': 'form-control mt-2 mb-4'},
            label: 'Roles'
        }) }}
		<button class="btn new-data-btn mb-5">{{ button_label|default('Confirm') }}</button>
		{{ form_end(form) }}
	</section>

{% endblock %}
